@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

/*VARIABLES*/
:root {
    /* colors */
    --text-color:  hsl(27, 100%, 95%);
    --button-color: hsl(350, 15%, 16%);
    --description-color: hsl(27, 51%, 85%);
  
    /* font size variables */
    --font-size-h1: 4rem;
    --font-size-h2: 1.5rem;
    --font-size-nav-items: 1.125rem;
    --font-size-ol-items: 1.125rem;
  }
  
  /* RESET CSS and GLOBALS */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  *:focus {
    outline: 0;
  }

body{
    overflow: hidden;
    font-family: 'Exo', sans-serif;
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100vw;
    height:100vh;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;

}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
  }
  
  .menu__nav {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  .menu__items {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: var(--font-size-nav-items);
    color:var(--text-color);
    cursor: pointer;
    position: relative;
  }
  
  .menu__items:after {
    content: "";
    position: absolute;
    background-color: var(--description-color);
    height: 0.1rem;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
  }
  
  .menu__items:hover:after {
    width: 100%;
  }
  
  .menu__items:hover {
    color: #fff;
  }
  
  .menu__nav {
    list-style: none;
    display: flex;
  }
    .menu--mobile {
    display: none;
    cursor: pointer;
  }
  
  .menu--mobile div {
    width: 32px;
    height: 2px;
    background: var(--text-color);
    margin: 8px;
    transition: 0.3s;
  }

  .main {
  border-top: 0.4px solid hsl(27, 100%, 95%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.intro {
	height: 400px;
	margin-top: 70px;
	text-align: center;
	padding-top: 70px; 
}

.intro h1 {
	font-size: 7em;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 70px;
}

.btn {
    display: inline;
    position: relative;
    margin: 0px 85px 0px 85px;
    padding: 25px 30px;
    background: #7289DA;
    border-radius: 5px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn:hover{
  transition: 1s ease-in-out;
  background: #4b598f
}

.btn a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	padding: 30px 0px 0px 0px;
}